In [8]:
import json
import re
import math
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop_words = set(stopwords.words('english'))

In [9]:
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\dodsone\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!

True

In [10]:
# general function for preprocessing data
def preprocess(data):
    # regex removes punctuation and special characters
    no_punctuation_and_specials = re.sub(r'[^\w\s]', '', str(data))

    # tokenizing step
    tokens = word_tokenize(str(no_punctuation_and_specials))

    # stopword removal
    filtered_tokens = [str(word) for word in tokens if word.lower() not in stop_words]

    # returns tokenized text in sentence format
    return " ".join(filtered_tokens)

In [11]:
def classify(data):
    if data == 'Human':
        return 1
    return 0

In [12]:
df = pd.read_csv('../data/data.csv')
df.head()

,text,source,prompt_id,text_length,word_count
0,"Federal law supersedes state law, and cannabis...",Bloom-7B,0,967,157
1,Miles feels restless after working all day. He...,Bloom-7B,0,5068,778
2,So first of I am danish. That means that I fol...,Bloom-7B,0,1602,267
3,In this paper we present a novel rule-based ap...,Bloom-7B,0,5469,848
4,"Most social progressives, love democracy, and ...",Bloom-7B,0,2379,380

In [13]:
df['human'] = df['source'].apply(classify)
df.head()

,text,source,prompt_id,text_length,word_count,human
0,"Federal law supersedes state law, and cannabis...",Bloom-7B,0,967,157,0
1,Miles feels restless after working all day. He...,Bloom-7B,0,5068,778,0
2,So first of I am danish. That means that I fol...,Bloom-7B,0,1602,267,0
3,In this paper we present a novel rule-based ap...,Bloom-7B,0,5469,848,0
4,"Most social progressives, love democracy, and ...",Bloom-7B,0,2379,380,0

In [14]:
df['text'] = df['text'].apply(preprocess)
df.head()

,text,source,prompt_id,text_length,word_count,human
0,Federal law supersedes state law cannabis medi...,Bloom-7B,0,967,157,0
1,Miles feels restless working day decides go pa...,Bloom-7B,0,5068,778,0
2,first danish means follow american politics mu...,Bloom-7B,0,1602,267,0
3,paper present novel rulebased approach Runtime...,Bloom-7B,0,5469,848,0
4,social progressives love democracy relatively ...,Bloom-7B,0,2379,380,0

In [15]:
df.drop(['prompt_id', 'text_length', 'word_count', ], axis=1, inplace=True)

In [16]:
df.columns = ['Text', 'Source', 'Human']
df.head()

                                                Text    Source  Human
0  Federal law supersedes state law cannabis medi...  Bloom-7B      0
1  Miles feels restless working day decides go pa...  Bloom-7B      0
2  first danish means follow american politics mu...  Bloom-7B      0
3  paper present novel rulebased approach Runtime...  Bloom-7B      0
4  social progressives love democracy relatively ...  Bloom-7B      0

In [17]:
preprocessed_data = df
preprocessed_data.to_csv('../data/preprocessed_data.csv')